asterisk-ami==0.1.5
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==0.12.4
Flask-Cors==3.0.7
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pip==19.2
requests==2.21.0
setuptools==39.0.1
six==1.13.0
tftpy==0.8.0
urllib3==1.24.3
Werkzeug==0.16.0
